
.container {
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(148, 48, 48, .2) rgba(167, 67, 67, .4));
    background-size: cover;
}
/* --- Navigation/Hamburger Menu --- */

.navbar {
    width: 300px;
    height: 100%;
    background-color: #262626;
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20% 0 0 60%;
    transition: right .8 cubic-bezier(1, 0, 0, 0, 1);

}

.change {
    right: 0;
}

.hamburger-menu {
    width: 35px;
    height: 30px;
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.line {
    width: 100%;
    height: 3px;
    background-color: rgb(0, 0, 0);
    transition: all 0.8s;
}

.change .line-1 {
    transform: rotateZ(-405deg) translate(-8px, 6px);
}

.change .line-2 {
    opacity: 0;
}

.change .line-3 {
    transform: rotateZ(405deg) translate(-8px, -6px);
}


header {
    text-align: center;
    height: 550px;
    width: 100%;
    background-image: url(img/BeeHive.jpg);
    background-size: cover;

}

.nav-list {
    text-align: right;
}

.nav-item {
    list-style: none;
    margin: 25px;
}

.nav-link {
    text-decoration: none;
    font-size: 20px;
    color: goldenrod;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 3px 0;
}

.nav-link::before,
.nav-link::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: chocolate;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.nav-link::after {
    bottom: 0;
    transform-origin: right;
}

.nav-link::before {
    top: 0;
    transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
    transform: scaleX(1);
}

.coachella {
    display: block;
    padding: 27px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    transition: all .2s ease-in-out;
}

/* --- Tribute Content --- */
.coachella:hover {
    transform: scale(1.2);
}

body {
    background-color: rgb(39, 40, 41);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    font-size: 72px;
    
}

.row {
    display: flex;
    justify-content: space-around;
    width: 80vw;
    margin: 0 10vw;
    font-size: 20px;
    color: goldenrod;
}


.row > img {
    height: 150px;
    width: auto;
    transition: all .2s ease-in-out;
}
.row > img:hover {
    transform: scale(1.2);
}

h3 {
    color: goldenrod;
}

footer {
    padding: 15px;
    background: goldenrod;
    text-align: center;
}

/* --- Login/Signup Form --- */



/* --- Media Queries --- */
@media (min-width: 343px ) {
   

}